# Test components
on:
  pull_request:
    branches: [main, development]

jobs:
  test-components:
    runs-on: ubuntu-latest

    steps:
      # Checkout
      - name: Check out source code
        uses: actions/checkout@v3

      # Setup Node
      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 16.x
      
      # Setup pnpm
      - name: Setup pnpm
        run: npm install -g pnpm

      # Get node_modules cache
      - name: Cache node modules
        id: cache-node-modules
        uses: actions/cache@v3
        with:
          path: |
            **/node_modules
          key: cache-node-modules

      # Install dependencies
      - name: Install dependencies
        run: pnpm install

      # Run tests
      - name: Run tests
        run: pnpm test
